<div class="card pmd-card " >
  <div class="card-header fondoCard">
    <h4 class="card-title letraColor">Características del Lote</h4>
    <!--Con el "id" se calcula lo de la funcion-->
  </div>
  <div class="card-body">
    <div class="row">
      <div class="row">
        <div class="col-md-8">
            <button mat-raised-button type="submit" class="fondoCard btn"
                (click)="obtenerRango()">Calcular con 65%
            </button>

        </div>
    </div>
    </div>
    
    <div class="row">
      <div class="col-md-1">
        Lote medio:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
        Área de lote:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" disabled >
        </mat-form-field>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
        Frente Mínimo:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="row">

      <div class="col-md-2">
        Tamaños recomendados:
      </div>
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th> </th>
              <th>Frente</th>
              <th>Fondo</th>
            </thead>
            <tbody>
              <tr>
                <td>Relación 1:2</td>
                <td>m</td>
                <td>m</td>
              </tr>
              <tr>
                <td>Relación 1:2.5</td>
                <td>m</td>
                <td>m</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-1">
        COS máximo:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
        Altura máxima:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-1">
        Tipo de implantación:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        Retiros:
      </div>
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table table-hover">
              <thead class=" text-primary">
                  <th></th>
                  <th></th>
                </thead>
            <tbody>
              <tr>
                <td>Frontal: </td>
                <td>m</td>
              </tr>
              <tr>
                <td>Posterior: </td>
                <td>m</td>
              </tr>
              <tr>
                <td>Lateral: </td>
                <td>m</td>
              </tr>
              <tr>
                <td>Lateral (+3 pisos): </td>
                <td>m</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    

  </div>

</div>