<div class="card pmd-card ">
  <div class="card-header fondoCard">
    <h4 class="card-title letraColor">Características del Lote</h4>
    <!--Con el "id" se calcula lo de la funcion-->
  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-2">
        Lote medio:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" [(ngModel)]="tamLoteDash" name="var1" disabled>
        </mat-form-field>
      </div>
      
      <div class="col-md-2">
        Área de lote:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" [(ngModel)]="tamMostrar.tamanoMinimo" name="var2" disabled>
        </mat-form-field>
      </div>
      
      <div class="col-md-2">
        Frente Mínimo:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" [(ngModel)]="tamMostrar.frenteMinimo" name="var3" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="row">

      <div class="col-md-2">
        Tamaños recomendados:
      </div>
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table">
            <thead class=" text-primary">
              <th> </th>
              <th>Frente</th>
              <th>Fondo</th>
            </thead>
            <tbody>
              <tr>
                <td>Relación 1:2</td>
                <td>m</td>
                <td>m</td>
              </tr>
              <tr>
                <td>Relación 1:2.5</td>
                <td>m</td>
                <td>m</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        COS máximo:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" [(ngModel)]="tamMostrar.cosMaximo" name="var9" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        Altura máxima:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" [(ngModel)]="tamMostrar.numeroPisos" name="var8" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        Tipo de implantación:
      </div>
      <div class="col-md-2">
        <mat-form-field class="example-full-width">
          <input matInput type="text" [(ngModel)]="tamMostrar.tipoImplantacion" name="var28" disabled>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-md-2">
        Retiros:
      </div>
      <div class="col-md-4">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead class=" text-primary">
              <th></th>
              <th></th>
            </thead>
            <tbody>
              <tr>
                <td>Frontal: </td>
                <td><input matInput type="text" [(ngModel)]="tamMostrar.retirosFrontales" name="var18" disabled>m</td>
              </tr>
              <tr>
                <td>Posterior: </td>
                <td><input matInput type="text" [(ngModel)]="tamMostrar.retirosPosteriores" name="var19" disabled>m</td>
              </tr>
              <tr>
                <td>Lateral: </td>
                <td><input matInput type="text" [(ngModel)]="tamMostrar.retiroLateral" name="var29" disabled>m</td>
              </tr>
              <tr>
                <td>Lateral (+3 pisos): </td>
                <td><input matInput type="text" [(ngModel)]="tamMostrar.retiroLateral3Piso" name="var39" disabled>m</td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>


  </div>

</div>