.aux{
    background-color: #4B585D;
}
.aux-color{
    color: #fdfcfc !important
}

ul li.active > a, a[aria-expanded="true"] { /*Color cuando se activa el li*/
    color: #fff;
    background: #374144;
}
ul li a:hover {         /*color al pasar el mouse*/
    color: #7386D5;
    background: #5b9ba5;
} 