<div class="main-content fondo" >
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-12">
                <div class="card card-chart">
                    <div class="fondoCard card-header">
                        <h4 class="card-title letraColor">SUPERFICIE A URBANIZAR</h4>
                    </div>
                    <div class="card-body">
                        <mat-form-field class="example-full-width">
                            <input matInput placeholder="Ingrese la superficie" type="text"
                                [(ngModel)]="hectareasTotales" name="hectareasTotales">
                        </mat-form-field>

                        Seleccione una unidad

                        <select class="browser-default custom-select" [(ngModel)]="opcionMedida"
                            (change)="capturarMedida()" (change)="cambioMedidasSueloNoUrbanizable()">
                            <option value="" disabled selected>Seleccione una unidad</option>
                            <option value="0.0001">Metros Cuadrados</option>
                            <option value="1">Hectárea</option>
                            <option value="100">Kilómetros Cuadradas</option>
                        </select>
                        <h4>
                            Superficie inicial: {{getHectareas()}} ha.
                        </h4>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">announcement</i> datos iniciales para calculos
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">            
            <div class="col-md-12">
                <div class="card">
                    <div class="fondoCard card-header">
                        <h4 class="card-title letraColor">Suelo No Urbanizable</h4>
                        <p class=" letraColor card-category">Ingrese la información de suelo no Urbanizable</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Limitaciones Topográficas" type="text"
                                            [(ngModel)]="limitacionesTopograficas" name="limitacionesTopograficas" (change)="cambioMedidasSueloNoUrbanizable()">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <select class="browser-default custom-select"
                                        [(ngModel)]="opcionLimitacionesTopograficas"
                                        (change)="capturarMedidaNoUrbanizable()" name=opci1>
                                        <option value="" disabled selected>Seleccione una unidad</option>
                                        <option value="0.0001">Metros Cuadrados</option>
                                        <option value="1">Hectárea</option>
                                        <option value="100">Kilómetros Cuadradas</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Áreas de Valor Paisajístico" type="text"
                                            [(ngModel)]="areasPaisaje" name="areasPaisaje" (change)="cambioMedidasSueloNoUrbanizable()">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <select class="browser-default custom-select" [(ngModel)]="opcionAreasPaisaje"
                                        (change)="capturarMedidaNoUrbanizable()" name="opciAreas">
                                        <option value="" disabled selected>Seleccione una unidad</option>
                                        <option value="0.0001">Metros Cuadrados</option>
                                        <option value="1">Hectárea</option>
                                        <option value="100">Kilómetros Cuadradas</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Áreas de Valor Histórico" type="text"
                                            [(ngModel)]="areasHistorico" name="areasHistorico" (change)="cambioMedidasSueloNoUrbanizable()">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <select class="browser-default custom-select" [(ngModel)]="opcionAreasHistorico"
                                        (change)="capturarMedidaNoUrbanizable()" name="opcihisto">
                                        <option value="" disabled selected>Seleccione una unidad</option>
                                        <option value="0.0001">Metros Cuadrados</option>
                                        <option value="1">Hectárea</option>
                                        <option value="100">Kilómetros Cuadradas</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Franjas de Protección de Vías" type="text"
                                            [(ngModel)]="vias" name="vias" (change)="cambioMedidasSueloNoUrbanizable()">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <select class="browser-default custom-select" [(ngModel)]="opcionVias"
                                        (change)="capturarMedidaNoUrbanizable()" name="opciVias">
                                        <option value="" disabled selected>Seleccione una unidad</option>
                                        <option value="0.0001">Metros Cuadrados</option>
                                        <option value="1">Hectárea</option>
                                        <option value="100">Kilómetros Cuadradas</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Franjas de Protección de Ríos" type="text"
                                            [(ngModel)]="rios" name="rios" (change)="cambioMedidasSueloNoUrbanizable()">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <select class="browser-default custom-select" [(ngModel)]="opcionRios"
                                        (change)="capturarMedidaNoUrbanizable()" name="opciRios">
                                        <option value="" disabled selected>Seleccione una unidad</option>
                                        <option value="0.0001">Metros Cuadrados</option>
                                        <option value="1">Hectárea</option>
                                        <option value="100">Kilómetros Cuadradas</option>
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Área de Fallas Geológicas" type="text"
                                            [(ngModel)]="fallasGeologicas" name="fallasGeologicas" (change)="cambioMedidasSueloNoUrbanizable()">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <select class="browser-default custom-select" [(ngModel)]="opcionFallasGeologicas"
                                        (change)="capturarMedidaNoUrbanizable()" name="opciFallas">
                                        <option value="" disabled selected>Seleccione una unidad</option>
                                        <option value="0.0001">Metros Cuadrados</option>
                                        <option value="1">Hectárea</option>
                                        <option value="100">Kilómetros Cuadradas</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Área de Agricultura" type="text"
                                            [(ngModel)]="agricultura" name="agricultura" (change)="cambioMedidasSueloNoUrbanizable()">
                                    </mat-form-field>
                                </div>
                                <div class="col-md-2">
                                    <select class="browser-default custom-select" [(ngModel)]="opcionAgricultura"
                                        (change)="capturarMedidaNoUrbanizable()" name="opciAgri">
                                        <option value="" disabled selected>Seleccione una unidad</option>
                                        <option value="0.0001">Metros Cuadrados</option>
                                        <option value="1">Hectárea</option>
                                        <option value="100">Kilómetros Cuadradas</option>
                                    </select>
                                </div>                                
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-6" *ngIf="!ocultar">
                                    <p>Suelo Útil: {{sueloUtil}} ha</p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">announcement</i> los datos ingresados deben pertenecer a
                            la misma unidad de la superfice inicial
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col md-12">
                <div class="card pmd-card">
                    <div class="fondoCard card-header">
                        <h4 class="card-title letraColor"> Datos de Población y Densidad Neta </h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                Población (hab):
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" [(ngModel)]="poblacion" name="poblacion"
                                        (change)="calculoDensidad()">
                                </mat-form-field>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-2">
                                Densidad Neta (hab/ha):
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" [(ngModel)]="densidadNeta" name="densidadNeta"
                                        (change)="calculoPoblacion()">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" id="resultados">
            <div class="col-md-12">
                <div class="card pmd-card">
                    <div class="fondoCard card-header">
                        <h4 class="card-title letraColor">Resultados Suelos de Vivienda con:<b> {{constanteSuelo*100}}% </b></h4>
                        <!--Con el "id" se calcula lo de la funcion-->
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">filter_list</i> Porcentaje del suelo urbanizable destinado
                            exclusivamente a vivienda
                        </div>
                    </div>
                    <div class="card-body">
                        <!--<div class="ct-chart" id="dailySalesChart"></div>-->
                        <div class="row">
                            <div class="col-md-3">
                                Suelo de Vivienda (ha):
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" [(ngModel)]="sueloVivienda" name="sueloVivienda"
                                        (change)="calculoValores()">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-md-3">
                                Número de Lotes:
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" [(ngModel)]="numLotes" name="numLotes" disabled>
                                </mat-form-field>
                            </div>
                            <div class="col-md-1">
                                <!--<h4>{{numeroLotesTotales}}</h4>-->  
                            </div>
                            <div class="col-md-2">
                                Área de Lotes :
                            </div>
                            <div class="col-md-3">
                                <mat-form-field class="example-full-width">
                                    <input matInput type="text" [(ngModel)]="areaLotes" name="areaLotes" disabled>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="d-flex justify-content-center my-4">
                                <span class="font-weight-bold blue-text mr-2 mt-1">65%</span>
                                <form class="range-field w-70">
                                  <input class="border-0" type="range" min="65" max="70" />
                                </form>
                                <span class="font-weight-bold blue-text ml-2 mt-1">70%</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <button mat-raised-button type="submit" class="fondoCard btn"
                                    (click)="calcularSueloUrbanizable(0.65)">Calcular con 65%
                                </button>
                                <button mat-raised-button type="submit" class="fondoCard btn"
                                    (click)="calcularSueloUrbanizable(0.70)">Calcular con 70%
                                </button>￼

                            </div>
                        </div>

                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 4 minutes ago
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="card pmd-card">
                    <div class="fondoCard card-header">
                        <h4 class="card-title letraColor">Características del Lote</h4>
                        <!--Con el "id" se calcula lo de la funcion-->
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                Lote medio:
                            </div>
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" [(ngModel)]="loteMedio" name="loteMedio" disabled>

                                <!--
                                    
                                        poner sub fijo a las entradas

                                    <mat-hint>Hint</mat-hint>


                                    -->
                            </mat-form-field>

                            <button mat-icon-button>
                                <i class="material-icons" (click)='onClickCharacteristics()'>add</i>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Lote mínimo:
                            </div>
                            <mat-form-field class="example-full-width">
                                <input matInput type="text" [(ngModel)]="loteMinimo" name="loteMinimo" disabled>
                            </mat-form-field>
                            <button mat-icon-button>
                                <i class="material-icons" (click)='onClickCharacteristics()' >add</i>
                            </button>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                Lote máximo:
                            </div>

                            <mat-form-field class="example-full-width">
                                <input matInput type="text" [(ngModel)]="loteMaximo" name="loteMaximo" disabled>
                            </mat-form-field>


                            <button mat-icon-button>
                                <i class="material-icons" (click)='onClickCharacteristics()'>add</i>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="isShow">
            <div class="col-md-12">
                <!--<app-characteristics-table [tamLoteDash]="loteMedio">-->
                <app-characteristics-table [tamLoteDash]="130">
                    </app-characteristics-table>
            </div>


        </div>

        <!--
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Email Subscriptions</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Resultados</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!--
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-tabs card-header-primary">
                        <div class="nav-tabs-navigation">
                            <div class="nav-tabs-wrapper">
                                <span class="nav-tabs-title">Tasks:</span>
                                <ul class="nav nav-tabs" data-tabs="tabs">
                                    <li class="nav-item">
                                        <a mat-button class="nav-link active" href="#profile" data-toggle="tab">
                                            <i class="material-icons">bug_report</i> Bugs
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#messages" data-toggle="tab">
                                            <i class="material-icons">code</i> Website
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a mat-button class="nav-link" href="#settings" data-toggle="tab">
                                            <i class="material-icons">cloud</i> Server
                                            <div class="ripple-container"></div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="tab-content">
                            <div class="tab-pane active" id="profile">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Create 4 Invisible User Experiences you Never Knew About</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="messages">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="settings">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value="">
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Lines From Great Russian Literature? Or E-mails From My Boss?</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Flooded: One year later, assessing what was lost and what was found when
                                                a ravaging rain swept through metro Detroit
                                            </td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox" value=""
                                                            checked>
                                                        <span class="form-check-sign">
                                                            <span class="check"></span>
                                                        </span>
                                                    </label>
                                                </div>
                                            </td>
                                            <td>Sign contract for "What are conference organizers afraid of?"</td>
                                            <td class="td-actions text-right">
                                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-primary btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                                <button mat-raised-button type="button" matTooltip="Remove"
                                                    [matTooltipPosition]="'above'"
                                                    class="btn btn-danger btn-link btn-sm btn-just-icon">
                                                    <i class="material-icons">close</i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-warning">
                        <h4 class="card-title">Employees Stats</h4>
                        <p class="card-category">New employees on 15th September, 2016</p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-warning">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Salary</th>
                                <th>Country</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dakota Rice</td>
                                    <td>$36,738</td>
                                    <td>Niger</td>n
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Minerva Hooper</td>
                                    <td>$23,789</td>
                                    <td>Curaçao</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sage Rodriguez</td>
                                    <td>$56,142</td>
                                    <td>Netherlands</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Philip Chaney</td>
                                    <td>$38,735</td>
                                    <td>Korea, South</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div> -->

    </div>